table {
	width: 100%;
	background-color: #f1f1c1;
	border-spacing: 15px;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
}
caption {
	color: #00172d;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 2.5em;
}
span#ses {
	font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}
th {
	background-color: #00172d;
    color: white;
	height: 30px;
	text-align: left;
	vertical-align: middle;
}
table, th, td {
	border: 1px solid #ddd;
	border-collapse: collapse;
}
th, td {
    padding: 12px;
}
table  tr:nth-child(even) {
    background-color: #eee;
}
table  tr:nth-child(odd) {
   background-color: #fff;
}
table tr:hover {background-color: rgba(13,255,150,0.1);}
td a#delete {
	color: red;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

td a#edit {
	color: blue;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.pagin {
	text-decoration: none;
	color: #006600;
	font-size: 1.2em;
	background: #E8E8E8;
	border: 5px solid #fff;
	padding: 8px;
}
.btn {
	display: inline-block;
	position: relative;
	font-weight: 600;
	font-size: 0.5em;
	background: none;
	color: #006600;
	margin-left: 1em;
	padding: 5px 10px;
	border: 2px solid #006600;
	border-radius: 5px;
	transition: color 0.25s ease;
}
.btn:hover {
  color: red;
}
.btn::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #006600;
  transform-origin: left;
  transition: width 0.25s ease;
  z-index:-1; 
}
.btn:hover::after {
  width: 100%;
}